<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book your Tickets with US</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to your Own challenge Page.</h1>
        <p class="lead">None of it was looking good So I put a jumbotron here!!</p>
        <hr class="my-4">
        <p>You can literally ignore this. </p>
        <form class="bg-light">
            <div class="form-group ">
                <label for="screen_in">Screen Name</label>
                <input type="name" class="form-control" id="screen_in" aria-describedby="screen_name"
                       placeholder="Enter Screen Name">
                <small id="screen_name" class="form-text text-muted">just put inox/pvr for now</small>
            </div>

            <button id="scBut" type="button" class="btn btn-primary">Submit</button>
        </form>
        <div id="seats">

        </div>
    </div>

</div>
<script src="../static/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="../static/scripts.js" type="text/javascript"></script>
</body>
</html>